* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  margin-top: 5%;
  margin-left: 77%;
}

.text {
  margin-top: 5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 2rem;
}
